
*.log
*.pyc
*.pptx
*.docx
*.nc
.*/

.vscode/
.DS_Store
.gitmodules
.snakemake/
.slurm-logs/

# Ignore intermediate results 
# data/networks/
inter_results/
tmp/
graphics/
paper/
results/
manuscript/
log/
shapefiles/

# config.yaml