# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\au518895\OneDrive - Aarhus Universitet\Projects\pypsa-eur-mcmc\.idea/dataSources/
/dataSources.local.xml
